<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<h4
  style="
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 0;
  "
  class="header"
>
  REGISTRO PÚBLICO ÚNICO DE FINANCIAMIENTOS Y OBLIGACIONES DE ENTIDADES
  FEDERATIVAS Y MUNICIPIOS
  <br />
  CONSTANCIA DE REESTRUCTURACIÓN O MODIFICACIÓN
</h4>

<!-- SERVIDOR PÚBLICO -->
<h3
  style="
    font-family: Arial;
    font-size: 12px;
    font-weight: 900;
    text-align: justify;
    letter-spacing: 1px;
  "
>
  <u>{{servidorPublico}}</u> <br />
  {{cargo}} <br />
  {{organismo}}
</h3>


<p
  style="
    font-family: Arial;
    font-size: 12px;
    text-align: justify;
    font-weight: 100;
    letter-spacing: 1px;
  "
>

  Me refiero su oficio {{oficioSolicitud}} de fecha {{fechaSolicitud}},
  recibido a través del Sistema de Gestión de Créditos a Municipios de
  Financiamientos y Obligaciones de Entidades Federativas y Municipios, el
  {{fechaSolicitud}}, mediante el cual solicita la inscripción en el Registro
  Público Único de Financiamientos y Obligaciones de Entidades Federativas y
  Municipios de un Crédito simple celebrado entre el(la)
  {{entePublicoObligado}} y(e) {{institucionFinanciera}} el
  {{fechaContratacion}}, hasta por la cantidad de {{montoOriginalContratado}} ({{montoOriginalPalabras}}).

    <br />
    <br />
  Sobre el particular, me permito informarle que para la inscripción de Obligaciones a Corto Plazo el artículo 28 del Reglamento
  del Registro Público Único de Financiamientos y Obligaciones de Entidades Federativas y Municipios (Reglamento), establece 
  que además de lo ahí señalado, el Ente Público deberá cumplir con lo establecido en el artículo 25, con excepción de las 
  fracciones l, inciso c) y f), ll, lll, lV y lX del Reglamento. 
  <br /><br />
  En virtud de lo anterior, una vez realizado el análisis al oficio de mérito
  y a la documentación anexa al mismo, se detectaron las siguientes omisiones
  y/o inconsistencias:   
  <!-- Las caracteristicas de la Obligación son las siguientes: -->
</p>

<h3
  style="
      font-family: Arial;
      font-size: 12px;
      text-align: justify;
      font-weight: 900;
      letter-spacing: 1px;
  "
  >
    Reglamento del Registro Público Único de Financiamientos y Obligaciones de
    Entidades Federativas y Municipios
</h3>

{{comentarios}}


<p
  style="
 font-family: Arial;
    font-size: 12px;
    text-align: justify;
    font-weight: 100;
    letter-spacing: 1px;
  "
>

En virtud de los argumentos precedentes y de conformidad con lo establecido en los artículos 30, 31, 49, 50 y 51 fracciones
l, V, IX y XI de la Ley de Disciplina Financiera de las Entidades Federativas y los Municipios; 3, 7, 16 fracciones ll, III
y IV, y 28 del Reglamento del Registro Público Único de Financiamientos y Obligaciones de Entidades Federativas y 
Municipios; y, 11 D, fracción III, del Reglamento Interior de la Secretaría de Hacienda y Crédito Público, publicado en 
el Diario Oficial de la Federación el 6 de marzo de 2023, se le previene para que subsanen las omisiones y/o 
inconsistencias señaladas, en un término no mayor a 10 días hábiles contados a partir del día siguiente a la notificación 
del presente oficio. 
<br />
Cabe señalar, que si lo anterior no es subsanado en el plazo señalado, no podrá continuarse con el 
proceso de inscripción.
</p>

<h3
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
  "
  class="atte"
>
  Atentamente <br />
  {{cargoDirectorGeneral}} <br />
  <br />
  {{directorGeneral}} <br />
</h3>
